@tailwind base;
@tailwind components;
@tailwind utilities;

.hoverborder{
    border-left: 4px solid #fffbeb;
    &:hover{
    border-left:4px solid rgb(255, 182, 194);}
}
.center{
    /* margin:0 auto; */
    z-index: 10;
    position: fixed;
    left: 25%;
    background: rgb(254 243 199);
    

}
.bodyBorder{
    border-left:solid  1px #fef3c7;
    /* box-shadow:  2px 2px 2px 2px green ; */
    box-shadow: 5px 5px 8px rgb(255, 182, 194), 5px 5px 8px green, 12px 15px 8px  #b2a571;
}